
<link rel="stylesheet" href="../stylesheets/application.css">
<div class="body">
<div class="container">
  <div class="order">
    <input type="text" id="phoneForm" placeholder="Your Recipient's Phone Number">
    <select>
      <option value="5">I will work your mouth like a puppet. (Samuel L. Jackson, The Other Guys) - Send 5</option>
      <option value="10">You know me. It's my duty to please that booty. (Samuel L. Jackson, Shaft) - Send 10</option>
      <option value="15">Don't f**k with me or I'll shove a lightning bolt up your a** (Samuel L. Jackson, Die Hard With A Vengenace) - Send 15</option>
      <option value="20">And you will know my name is the Lord when I lay my vengeance upon thee (Samuel L. Jackson, Pulp Fiction) - Send 20</option>
    </select>
    <input type="text" placeholder="Your name">
    <input type="submit" value="Send Samuel"> 
  </div>
  <div class="photo-example"></div>
</div>
</div>