/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  /*background-color: blue;*/
  background-image: url("https://lh4.googleusercontent.com/-qYiXoUQAUbo/TXle5NQOhTI/AAAAAAAAB08/dybtHnov590/s1600/Samuel+L.+Jackson+Pulp+Fiction.PNG");
}
@font-face {
  font-family: Pulp Fiction M54;
  src: url(../fonts/PulpFictionItalicM54.ttf);
}
.order {
  position: center;
  display: block;
  POSITION: absolute;
  WIDTH: 300px;
  padding: 20px;
}
h1 {
  color: #fff;
  font-family: Pulp Fiction M54;
  src: url(../fonts/PulpFictionItalicM54.ttf);
  right: 50px;
}